# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# project configuration files
/csv-editor.xml
/misc.xml
/modules.xml
/jsLibraryMappings.xml
/ros2-parameter-extension.iml
/vcs.xml
